<p class="text-muted">Can you handle a <a class="text-decoration-none" href="/secure/place">secret</a>?</p>
<br>
<h2>Latest posts:</h2>
<br>

<% @results.each do |post| %>
  <p><%= post['content'] %></p>
  <small class="text-muted">Added at: <%= post['created_date'] %></small>
  <hr>
<% end %>
