<h2>Add new post</h2>

<form>
  <div class="form-group">
    <label class="text-muted">Add your post here</label>
    <textarea class="form-control" rows="6"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
