<h2>Add new post</h2>

<form action="/new" method="POST">
  <div class="form-group">
    <label class="text-muted"></label>
    <textarea name="content" class="form-control" rows="6" placeholder="Add your post here"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
